.border{
    border: 2px solid white ;
    border-radius: 15px;
    padding-bottom: 20px;
    /* margin-top:150px; */
    margin-left: 100px;
    margin-right: 700px;
    text-align: center;
    /* background-color: whitesmoke; */
    align-items: center;
    color: white;
}
.back{
    background-image: url("../../img/regiback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vm;
    height: 100%;
   
}
.setcol{
    color:white !important;
}
.lc{
    border: 1px solid white;
}
